/********** INICIO CONSULTA DE FÃ CLUBE **********/
#selectEstado_consulta_faclube, #selectCidade_consulta_faclube, #selectArtista_consulta_faclube{
	width: 250px;
	margin-bottom: 20px;
	background-color: #26292E; /* fallback color if gradients are not supported */
}

#selectEstado_cadastro_faclube, #selectCidade_cadastro_faclube{
	min-width: 300px;
    background-color: #2F3238;
}

.select{
    -webkit-appearance: button;
    -moz-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    background-color: #2F3238;
    width: 100%;
    border: none;
    cursor: pointer;
    height: 54px;
    padding-left: 15px;
    font-size: 16px;
    color: #7F8289;
	margin-bottom: 5px;
}

.labelSelect {position:relative;min-width: 100%;}
.labelSelect:after {
  	content: '<>';
	color: #7F8289;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 6px !important;
	top:10px !important;
	font-size: 16px !important ;
	padding: 0px 12px 12px 12px !important;
	border-bottom: 1px solid #7F8289;
	position: absolute;
	pointer-events: none;
}

#busca-faclube-form .submit {
	background-color: #26292E;
    color: #7F8289;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	width:170px;
	
	-webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

#busca-faclube-form .submit:hover {
    background: #DE5E60;
    color: #FFFFFF;
}

.title-page .title-description2 {
	font-size: 20px;
	font-weight: 200;
	margin: 0;
}

.faclube-name{
	position: absolute;
	display: block;
	bottom: 0px;
	font-size: 10pt;
	color: white;
	background-color: #26292E;
	height: 30px;
	width: 100%;
	margin-bottom: 0px;
	padding: 5px 10px;
}
/********** FIM CONSULTA DE FÃ CLUBE **********/



/********** INICIO CADASTRO DE FÃ CLUBE **********/
#cadastro-faclube-form .submit {
	background-color: #26292E;
    color: #7F8289;
}


#cadastro-faclube-form .submit {
	color: #7F8289;
    background-color: #2F3238;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    margin-top: 30px;
    width: auto;
	width:170px;
	
	-webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

#cadastro-faclube-form .submit:hover {
    background: #DE5E60;
    color: #FFFFFF;
}

#cadastro-faclube-form input,
#cadastro-faclube-form textarea {
    border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
	
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	
	background: #2F3238;
    color: #FFFFFF;
    font-size: 16px;
    height: auto;
    padding: 15px;
	
    resize: none;
}

#cadastro-faclube-form input {
    width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cadastro-faclube-form textarea {
    width: 100%;
	resize: vertical;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cadastro-faclube-form {
	
	width:100%;
}


input[type="file"] {
    display: none;
}
.file-upload {
 	border: 1px solid #7F8289;
 	background: #2F3238;
   	font-size: 16px;
   	padding: 14px;
   	resize: none;
   	width: 100px;
   	float: left;
    height: 24px;
}
#output-imagem-logo{
	width:40%;
	min-width: 300px;
	height: 185px;
}

.column{
	float:left;
	width:30%;
	min-width: 300px;
	margin-left: 2%;
}
/********** FIM CADASTRO DE FÃ CLUBE **********/

p.scroll{
    height: 150px;
    overflow: scroll;
    color: white;
}


