<html>
<head></head>
<body>
	<div  th:fragment="_include_lista_faclube">
		
		<section id="lista_faclubes">
			
        	<ul id="thumbs" >                        		
				<div class="alert fade in alert-error" id="div-mensagem-lista-faclube" th:if="${listaFaClubes != null and listaFaClubes.isEmpty()}">
		       		 <a class="close" data-dismiss="alert" href="#">&times;</a>
		        	 <span id="mensagem-lista-faclube">Nenhum fã clube foi encontrado.</span>
		  		</div>
		  		
		  		<div class="alert fade in alert-info" id="div-mensagem-lista-faclube" th:if="${listaFaClubes == null}">
		       		 <a class="close" data-dismiss="alert" href="#">&times;</a>
		        	 <span id="mensagem-lista-faclube">Selecione um estado ou cidade e busque!</span>
		  		</div>
  		
				<li class="item-thumbs span3 "  th:each="faclube : ${listaFaClubes}" >
		   			<!-- Fancybox - Gallery Enabled - Title - Full Image -->
		   			<a class="hover-wrap fancybox" data-fancybox-group="gallery" th:href="${faclube.logoBase64 != null ? 'data:image/png;base64,'+faclube.logoBase64 : '_include/img/work/full/image-01-full.jpg'}" th:title="${faclube.nome}">
			        	<span class="overlay-img"></span>
			            <span class="overlay-img-thumb font-icon-plus"></span>
		            </a>
		            
		            <!-- Thumb Image and Description -->                               
		            <img  th:src="${faclube.logoBase64 != null ? 'data:image/png;base64,'+faclube.logoBase64 : '_include/img/work/full/image-01-full.jpg'}"  th:alt="${faclube.toString()}"/>
		            <p class="faclube-name" th:text="${faclube.nome}"/>
		        </li>
		    	
		    	
		    	<!-- This block is necessary to show the full imagem -->
		    	<li class="item-thumbs span3 " hidden="true">
		        	<!-- Fancybox - Gallery Enabled - Title - Full Image -->
		        	<a class="hover-wrap fancybox" data-fancybox-group="gallery"></a>
		        </li>

		    </ul>
		</section> 
                    
	</div>
</body>
</html>
