<html>
<head></head>
<body>
	<div th:fragment="_include_cadastro_faclube" >
			<form id="cadastro-faclube-form" style="display:inline-block" 
        			th:action="@{/faclubes/cadastro}"
	            	th:object="${faclubeCadastrado}"   
	            	th:method="post">
	      
	      			<div class="alert fade in" id="div-mensagem-cadastro-faclube" style="display:none;" >
                   		 <a class="close" data-dismiss="alert" href="#">&times;</a>
                    	 <span id="mensagem-cadastro-faclube"></span>
              		</div>
                  	
                  	<div class="column">
                  		<input id="artista_fc" type="text" placeholder="Artista do fã clube*" th:field="${faclubeCadastrado.artista.nome}" title="Artista do fã clube"/>
                  		<input id="idartista_fc" type="text" th:field="${faclubeCadastrado.artista.id}" style="display:none"/>
	            		<input id="nome_fc" type="text" placeholder="Nome do fã clube*" th:field="${faclubeCadastrado.nome}" title="Nome do fã clube"/>
	            		<input id="descricao_fc" type="text" placeholder="Descrição do fã clube" title="Descrição do fã clube" th:field="${faclubeCadastrado.descricao}"/>
	            		<input id="data_fc" type="text" placeholder="Data de criação do fã clube" title="Data de criação do fã clube" th:field="${faclubeCadastrado.dataDeCriacao}"/>
	            		<input id="representantes_fc" type="text" placeholder="Representantes do fã clube" title="Representantes do fã clube" th:field="${faclubeCadastrado.representantes}"/>
            			<input id="telefone_fc" type="text" placeholder="Telefone do fã clube" title="Telefone do fã clube" th:field="${faclubeCadastrado.telefone}"/>
            		</div>
            		<div class="column">
            			<input id="email_fc" type="text" placeholder="E-mail do fã clube*" title="E-mail do fã clube"  th:field="${faclubeCadastrado.email}"/>
		           		<input id="insta_fc" type="text" placeholder="Instagram do fã clube" title="Instagem do fã clube" th:field="${faclubeCadastrado.instagram}"/>
		           		<input id="face_fc" type="text" placeholder="Facebook do fã clube" title="Facebook do fã clube" th:field="${faclubeCadastrado.facebook}"/>
		           		<input id="twitter_fc" type="text" placeholder="Twitter do fã clube" title="Twitter do fã clube" th:field="${faclubeCadastrado.twitter}"/>
		           		<input id="outrasredes_fc" type="text" placeholder="Outras redes sociais do fã clube" title="Outras redes sociais do fã clube" th:field="${faclubeCadastrado.outrasRedesSociais}"/>
		           		<input id="site_fc" type="text" placeholder="Site do fã clube" title="Site do fã clube" th:field="${faclubeCadastrado.site}"/>
            		</div>
            		
            		<div class="column">
		           		
		           		<label class="labelSelect">
		                	<select title="Estado do fã clube" th:field="${faclubeCadastrado.estado.id}" onchange="carregarCidadesPorEstadoCadastroFaClube();mudarCor(this);" id="selectEstado_cadastro_faclube" class="select">
							    <option value="0" selected="selected" >---- Selecione o estado do fã clube* ----</option>
							    <option th:each="estado : ${listaEstados}"
							            th:value="${estado.id}"
							            th:text="${estado.nome}"/>
							</select>
						</label>
						
						<label class="labelSelect">
							<div id="selectCidade_cadastro_faclube_div">
			        			<div  th:fragment="selectCidade_cadastro_faclube_fragment" >
							        <select title="Cidade do fã clube" th:field="${faclubeCadastrado.cidade.id}" id="selectCidade_cadastro_faclube" class="select" onchange="mudarCor(this)">
									    <option value="0" >---- Selecione a cidade do fã clube* ----</option>
									    <option th:each="cidade : ${listaCidades}"
									            th:value="${cidade.id}"
									            th:text="${cidade.nome}"/>
									</select>
							    </div>
			       			</div>
			       		</label>			       		
  						
	  					<label for="logo_fc" class="file-upload">
						    <i class="fa fa-cloud-upload"></i> Selecione ...
						</label>	
						<input id="logo_fc" type="file"  th:field="${faclubeCadastrado.arquivoLogo}" accept="image/*" class="upload"/>
						<img id="output-imagem-logo" />
		           	</div>
		           	
		           	<div class="column" style="width: 90%;">
                		<a class="submit" onclick="cadastrarFaClube()" >Cadastrar Fã Clube</a>
		           	</div>
            </form>
  	</div>
</body>
</html>