<html>
<head></head>
<body>
	<div th:fragment="_include_consulta_faclube" >
	        <!-- Filter -->
	        <form style="display:inline-block" 
	           	th:object="${cidadeSelecionada}"  
	           	method="post" id="busca-faclube-form">
	           	
	           	<label class="labelSelect">
	    	        <select   th:field="${cidadeSelecionada.artista.id}" class="select" id="selectArtista_consulta_faclube" onchange="mudarCor(this)">
					    <option value="0">-- Selecione um artista --</option>
					    <option th:each="artista : ${listaArtistas}"
					            th:value="${artista.id}"
					            th:text="${artista.nome}"/>
					</select>
				</label>
				
	           	<label class="labelSelect">
	    	        <select  onchange="carregarCidadesPorEstadoConsultaFaClube();mudarCor(this);" id="selectEstado_consulta_faclube" class="select">
					    <option value="0">-- Selecione um estado --</option>
					    <option th:each="estado : ${listaEstados}"
					            th:value="${estado.id}"
					            th:text="${estado.nome}"/>
					</select>
				</label>
				
				<label class="labelSelect">
					<div id="selectCidade_consulta_faclube_div">
						<div th:fragment="selectCidade_consulta_faclube_fragment">
			        		<select th:field="${cidadeSelecionada.id}" id="selectCidade_consulta_faclube" class="select" onchange="mudarCor(this)">
							    <option value="0">-- Selecione uma cidade --</option>
							    <option th:each="cidade : ${listaCidades}"
							            th:value="${cidade.id}"
							            th:text="${cidade.nome}"/>
							</select>
						</div>
					</div>
	       		</label>
	      			
	      		
				
	   			<a type="submit" class="submit" onclick="buscarFaClubes()" >Buscar Fã Clubes</a>
	       			
			</form>
  	</div>
</body>
</html>